{% extends 'base.html' %}

{% block title %}
Your QR Code - 
{% endblock title %}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
<div class="container">
    <h1>Your QR Code is Ready!</h1>

    <img src="{{ url_for('static', filename='qrcodes/qr.png') }}" alt="Generated QR Code">

    <div class="button-group">
        <!-- Add the button will link to the new download route you are building -->

        <a href="/download/{{'qr.png'}}" class="button">
            Download QR
        </a>

        <!-- This button links back to the home page -->
        <a href="{{ url_for('generate') }}" class="button secondary">
            Back to Generate
        </a>
    </div>
</div>

{% endblock body %}